body{
    background-image: url(../images/background2.jpg);

    font-family: 'Roboto Mono', serif;
}


.jumbotron{
    background-image: url(../images/bobs.jpg);
    text-align: center;
      color: black;
      font-weight: bolder;
  
}

#title-description {
    color: rgb(89, 89, 94);
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.intro {
    font-weight: bolder;
    color: whitesmoke;
    background-color: grey;
    padding: 10px;
}